src/FlipDisplay/.vscode/arduino.json
src/FlipDisplay/.vscode/c_cpp_properties.json
src/FlipDisplay/.vscode/settings.json
circuits/FlipDisplay-Motor/.DS_Store
circuits/FlipDisplay-Motor/Gerbers/.DS_Store
src/FlipDisplay/build/build_opt.h
src/FlipDisplay/build/build.options.json
src/FlipDisplay/build/FlipDisplay.ino.bin
src/FlipDisplay/build/FlipDisplay.ino.bootloader.bin
src/FlipDisplay/build/FlipDisplay.ino.elf
src/FlipDisplay/build/FlipDisplay.ino.map
src/FlipDisplay/build/FlipDisplay.ino.partitions.bin
src/FlipDisplay/build/includes.cache
src/FlipDisplay/build/partitions.csv
src/FlipDisplay/build/core/base64.cpp.d
src/FlipDisplay/build/core/base64.cpp.o
src/FlipDisplay/build/core/cbuf.cpp.d
src/FlipDisplay/build/core/cbuf.cpp.o
src/FlipDisplay/build/core/core.a
src/FlipDisplay/build/core/Esp.cpp.d
src/FlipDisplay/build/core/Esp.cpp.o
src/FlipDisplay/build/core/esp32-hal-adc.c.d
src/FlipDisplay/build/core/esp32-hal-adc.c.o
src/FlipDisplay/build/core/esp32-hal-bt.c.d
src/FlipDisplay/build/core/esp32-hal-bt.c.o
src/FlipDisplay/build/core/esp32-hal-cpu.c.d
src/FlipDisplay/build/core/esp32-hal-cpu.c.o
src/FlipDisplay/build/core/esp32-hal-dac.c.d
src/FlipDisplay/build/core/esp32-hal-dac.c.o
src/FlipDisplay/build/core/esp32-hal-gpio.c.d
src/FlipDisplay/build/core/esp32-hal-gpio.c.o
src/FlipDisplay/build/core/esp32-hal-i2c-slave.c.d
src/FlipDisplay/build/core/esp32-hal-i2c-slave.c.o
src/FlipDisplay/build/core/esp32-hal-i2c.c.d
src/FlipDisplay/build/core/esp32-hal-i2c.c.o
src/FlipDisplay/build/core/esp32-hal-ledc.c.d
src/FlipDisplay/build/core/esp32-hal-ledc.c.o
src/FlipDisplay/build/core/esp32-hal-matrix.c.d
src/FlipDisplay/build/core/esp32-hal-matrix.c.o
src/FlipDisplay/build/core/esp32-hal-misc.c.d
src/FlipDisplay/build/core/esp32-hal-misc.c.o
src/FlipDisplay/build/core/esp32-hal-psram.c.d
src/FlipDisplay/build/core/esp32-hal-psram.c.o
src/FlipDisplay/build/core/esp32-hal-rmt.c.d
src/FlipDisplay/build/core/esp32-hal-rmt.c.o
src/FlipDisplay/build/core/esp32-hal-sigmadelta.c.d
src/FlipDisplay/build/core/esp32-hal-sigmadelta.c.o
src/FlipDisplay/build/core/esp32-hal-spi.c.d
src/FlipDisplay/build/core/esp32-hal-spi.c.o
src/FlipDisplay/build/core/esp32-hal-time.c.d
src/FlipDisplay/build/core/esp32-hal-time.c.o
src/FlipDisplay/build/core/esp32-hal-timer.c.d
src/FlipDisplay/build/core/esp32-hal-timer.c.o
src/FlipDisplay/build/core/esp32-hal-tinyusb.c.d
src/FlipDisplay/build/core/esp32-hal-tinyusb.c.o
src/FlipDisplay/build/core/esp32-hal-touch.c.d
src/FlipDisplay/build/core/esp32-hal-touch.c.o
src/FlipDisplay/build/core/esp32-hal-uart.c.d
src/FlipDisplay/build/core/esp32-hal-uart.c.o
src/FlipDisplay/build/core/firmware_msc_fat.c.d
src/FlipDisplay/build/core/firmware_msc_fat.c.o
src/FlipDisplay/build/core/FirmwareMSC.cpp.d
src/FlipDisplay/build/core/FirmwareMSC.cpp.o
src/FlipDisplay/build/core/FunctionalInterrupt.cpp.d
src/FlipDisplay/build/core/FunctionalInterrupt.cpp.o
src/FlipDisplay/build/core/HardwareSerial.cpp.d
src/FlipDisplay/build/core/HardwareSerial.cpp.o
src/FlipDisplay/build/core/HWCDC.cpp.d
src/FlipDisplay/build/core/HWCDC.cpp.o
src/FlipDisplay/build/core/IPAddress.cpp.d
src/FlipDisplay/build/core/IPAddress.cpp.o
src/FlipDisplay/build/core/IPv6Address.cpp.d
src/FlipDisplay/build/core/IPv6Address.cpp.o
src/FlipDisplay/build/core/main.cpp.d
src/FlipDisplay/build/core/main.cpp.o
src/FlipDisplay/build/core/MD5Builder.cpp.d
src/FlipDisplay/build/core/MD5Builder.cpp.o
src/FlipDisplay/build/core/Print.cpp.d
src/FlipDisplay/build/core/Print.cpp.o
src/FlipDisplay/build/core/stdlib_noniso.c.d
src/FlipDisplay/build/core/stdlib_noniso.c.o
src/FlipDisplay/build/core/Stream.cpp.d
src/FlipDisplay/build/core/Stream.cpp.o
src/FlipDisplay/build/core/StreamString.cpp.d
src/FlipDisplay/build/core/StreamString.cpp.o
src/FlipDisplay/build/core/USB.cpp.d
src/FlipDisplay/build/core/USB.cpp.o
src/FlipDisplay/build/core/USBCDC.cpp.d
src/FlipDisplay/build/core/USBCDC.cpp.o
src/FlipDisplay/build/core/USBMSC.cpp.d
src/FlipDisplay/build/core/USBMSC.cpp.o
src/FlipDisplay/build/core/wiring_pulse.c.d
src/FlipDisplay/build/core/wiring_pulse.c.o
src/FlipDisplay/build/core/wiring_shift.c.d
src/FlipDisplay/build/core/wiring_shift.c.o
src/FlipDisplay/build/core/WMath.cpp.d
src/FlipDisplay/build/core/WMath.cpp.o
src/FlipDisplay/build/core/WString.cpp.d
src/FlipDisplay/build/core/WString.cpp.o
src/FlipDisplay/build/core/libb64/cdecode.c.d
src/FlipDisplay/build/core/libb64/cdecode.c.o
src/FlipDisplay/build/core/libb64/cencode.c.d
src/FlipDisplay/build/core/libb64/cencode.c.o
src/FlipDisplay/build/libraries/AsyncTCP-master/AsyncTCP.cpp.d
src/FlipDisplay/build/libraries/AsyncTCP-master/AsyncTCP.cpp.o
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/AsyncEventSource.cpp.d
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/AsyncEventSource.cpp.o
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/AsyncWebSocket.cpp.d
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/AsyncWebSocket.cpp.o
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/SPIFFSEditor.cpp.d
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/SPIFFSEditor.cpp.o
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/WebAuthentication.cpp.d
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/WebAuthentication.cpp.o
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/WebHandlers.cpp.d
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/WebHandlers.cpp.o
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/WebRequest.cpp.d
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/WebRequest.cpp.o
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/WebResponses.cpp.d
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/WebResponses.cpp.o
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/WebServer.cpp.d
src/FlipDisplay/build/libraries/ESPAsyncWebServer-master/WebServer.cpp.o
src/FlipDisplay/build/libraries/FS/FS.cpp.d
src/FlipDisplay/build/libraries/FS/FS.cpp.o
src/FlipDisplay/build/libraries/FS/vfs_api.cpp.d
src/FlipDisplay/build/libraries/FS/vfs_api.cpp.o
src/FlipDisplay/build/libraries/HTTPClient/HTTPClient.cpp.d
src/FlipDisplay/build/libraries/HTTPClient/HTTPClient.cpp.o
src/FlipDisplay/build/libraries/SPIFFS/SPIFFS.cpp.d
src/FlipDisplay/build/libraries/SPIFFS/SPIFFS.cpp.o
src/FlipDisplay/build/libraries/WiFi/WiFi.cpp.d
src/FlipDisplay/build/libraries/WiFi/WiFi.cpp.o
src/FlipDisplay/build/libraries/WiFi/WiFiAP.cpp.d
src/FlipDisplay/build/libraries/WiFi/WiFiAP.cpp.o
src/FlipDisplay/build/libraries/WiFi/WiFiClient.cpp.d
src/FlipDisplay/build/libraries/WiFi/WiFiClient.cpp.o
src/FlipDisplay/build/libraries/WiFi/WiFiGeneric.cpp.d
src/FlipDisplay/build/libraries/WiFi/WiFiGeneric.cpp.o
src/FlipDisplay/build/libraries/WiFi/WiFiMulti.cpp.d
src/FlipDisplay/build/libraries/WiFi/WiFiMulti.cpp.o
src/FlipDisplay/build/libraries/WiFi/WiFiScan.cpp.d
src/FlipDisplay/build/libraries/WiFi/WiFiScan.cpp.o
src/FlipDisplay/build/libraries/WiFi/WiFiServer.cpp.d
src/FlipDisplay/build/libraries/WiFi/WiFiServer.cpp.o
src/FlipDisplay/build/libraries/WiFi/WiFiSTA.cpp.d
src/FlipDisplay/build/libraries/WiFi/WiFiSTA.cpp.o
src/FlipDisplay/build/libraries/WiFi/WiFiUdp.cpp.d
src/FlipDisplay/build/libraries/WiFi/WiFiUdp.cpp.o
src/FlipDisplay/build/libraries/WiFiClientSecure/ssl_client.cpp.d
src/FlipDisplay/build/libraries/WiFiClientSecure/ssl_client.cpp.o
src/FlipDisplay/build/libraries/WiFiClientSecure/WiFiClientSecure.cpp.d
src/FlipDisplay/build/libraries/WiFiClientSecure/WiFiClientSecure.cpp.o
src/FlipDisplay/build/preproc/ctags_target_for_gcc_minus_e.cpp
src/FlipDisplay/build/sketch/FlipDisplay.cpp
src/FlipDisplay/build/sketch/FlipDisplay.cpp.d
src/FlipDisplay/build/sketch/FlipDisplay.cpp.o
src/FlipDisplay/build/sketch/FlipDisplay.h
src/FlipDisplay/build/sketch/FlipDisplay.ino.cpp
src/FlipDisplay/build/sketch/FlipDisplay.ino.cpp.d
src/FlipDisplay/build/sketch/FlipDisplay.ino.cpp.o
src/FlipDisplay/build/sketch/FlipDisplayCharacter.cpp
src/FlipDisplay/build/sketch/FlipDisplayCharacter.cpp.d
src/FlipDisplay/build/sketch/FlipDisplayCharacter.cpp.o
src/FlipDisplay/build/sketch/FlipDisplayCharacter.h
src/FlipDisplay/build/sketch/FlipDisplayConfig.cpp
src/FlipDisplay/build/sketch/FlipDisplayConfig.cpp.d
src/FlipDisplay/build/sketch/FlipDisplayConfig.cpp.o
src/FlipDisplay/build/sketch/FlipDisplayConfig.h
src/FlipDisplay/build/sketch/FlipDisplayLerp.cpp
src/FlipDisplay/build/sketch/FlipDisplayLerp.cpp.d
src/FlipDisplay/build/sketch/FlipDisplayLerp.cpp.o
src/FlipDisplay/build/sketch/FlipDisplayLerp.h
src/FlipDisplay/build/sketch/FlipDisplayServer.cpp
src/FlipDisplay/build/sketch/FlipDisplayServer.cpp.d
src/FlipDisplay/build/sketch/FlipDisplayServer.cpp.o
src/FlipDisplay/build/sketch/FlipDisplayServer.h
src/FlipDisplay/build/sketch/ProgramClock.cpp
src/FlipDisplay/build/sketch/ProgramClock.cpp.d
src/FlipDisplay/build/sketch/ProgramClock.cpp.o
src/FlipDisplay/build/sketch/ProgramClock.h
src/FlipDisplay/build/sketch/ProgramSonos.cpp
src/FlipDisplay/build/sketch/ProgramSonos.cpp.d
src/FlipDisplay/build/sketch/ProgramSonos.cpp.o
src/FlipDisplay/build/sketch/ProgramSonos.h
src/FlipDisplay/build/sketch/Secrets.cpp
src/FlipDisplay/build/sketch/Secrets.cpp.d
src/FlipDisplay/build/sketch/Secrets.cpp.o
src/FlipDisplay/build/sketch/Secrets.h
src/FlipDisplay/Secrets.cpp
src/FlipDisplay/build/libraries/Arduino_JSON/JSON.cpp.d
src/FlipDisplay/build/libraries/Arduino_JSON/JSON.cpp.o
src/FlipDisplay/build/libraries/Arduino_JSON/JSONVar.cpp.d
src/FlipDisplay/build/libraries/Arduino_JSON/JSONVar.cpp.o
src/FlipDisplay/build/libraries/Arduino_JSON/cjson/cJSON.c.d
src/FlipDisplay/build/libraries/Arduino_JSON/cjson/cJSON.c.o
